<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/staff_sendcomplaint/">Send Complaint</a><br>
<a href="/myapp/staff_viewallocatedexamhall/">View Allocated Exam Hall</a><br>
{#<a href="/myapp/staff_viewallocatedexam/">View Allocated Exam</a><br>#}
<a href="/myapp/staff_viewexamschedule/">View Exam Schedule</a><br>
<a href="/myapp/staff_viewprofile/">View Profile</a><br>
<a href="/myapp/staff_viewreply/">View Reply </a><br>
<a href="/myapp/staff_viewstudentinexamhall/">View Student in Exam Hall </a><br>
</body>
</html>