<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/authority_changepassword/">Change Password</a><br>
<a href="/myapp/authority_viewprofile/">View Profile</a><br>
<a href="/myapp/authority_viewallocatedstaff/">View Allocated Staff</a><br>
<a href="/myapp/authority_viewallocatedstudent/">View Allocated Student</a><br>
<a href="/myapp/authority_viewexamhall/">View Exam Hall</a><br>
<a href="/myapp/authority_viewexam/">View Exam </a><br>
</body>
</html>