{% extends 'Authority/home index.html' %}
{% block body %}

<body><form action="/myapp/authority_changepassword_post/" method="post">
<table class="table table-bordered" >
    {% csrf_token %}
  <tr>
    <td>Old Password</td>
    <td><input type="text" name="textfield" id="textfield" class="form-control" required/></td>
  </tr>
  <tr>
    <td>New Password</td>
    <td><input type="text" name="textfield2" id="textfield2" class="form-control" required/></td>
  </tr>
  <tr>
    <td>Confirm Password</td>
    <td><input type="text" name="textfield3" id="textfield3" class="form-control" required/></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="button" id="button" value="Change" class="btn btn-info"/></td>
  </tr>
</table>
</form>
</body>
{% endblock %}
