{% extends 'Authority/home index.html' %}
{% block body %}

<body><form action="/myapp/authority_viewexam_post/" method="post">
<table class="pull-left mb-3 mt-3" >
    {% csrf_token %}
  <tr>
    <td>From date</td>
    <td><label for="textfield"></label>
      <input type="date" name="textfield" id="textfield" class="form-control"/></td>
    <td>To Date</td>
    <td><label for="textfield2"></label>
      <input type="date" name="textfield2" id="textfield2" class="form-control"/></td>
    <td><input type="submit" name="button" id="button" value="Search" class="btn btn-info"/></td>
  </tr>
</table>
    <table class="table table-bordered">
    <tr>
      <th>Serial No</th>
      <th>Exam Name</th>
      <th>Exam Code</th>
      <th>Date</th>
      <th>Type</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.examname }}</td>
      <td>&nbsp;{{ i.examcode }}</td>
      <td>&nbsp;{{ i.date }}</td>
      <td>&nbsp;{{ i.type }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
