{% extends 'Admin/home index.html' %}
{% block body %}

<body><form action="/myapp/admin_addstaff_post/" enctype="multipart/form-data" method="post">
        {% csrf_token %}
    <table class="table table-bordered">
  <tr>
    <td>Name</td>
    <td><input type="text" name="textfield" id="textfield" class="form-control" required pattern="[A-Za-z]+"/></td>
  </tr>
      <tr>
    <td>Department</td>
    <td><select name="textfield8" class="form-control" required>
        <option value="CSE">CSE</option>
        <option value="EEE">EEE</option>
        <option value="CHE">CHE</option>
        <option value="MCT">MCT</option>
    </select>
{#        <input type="text" name="textfield8" id="textfield8" />#}
    </td>
  </tr>
      <tr>
    <td>Photo</td>
    <td><input type="file" name="textfield9" id="textfield9" class="form-control" required/></td>
  </tr>
      <tr>
    <td>Gender</td>
    <td>
        <input type="radio" name="textfield10" id="textfield10" value="Male" />Male<br>
        <input type="radio" name="textfield10" id="textfield10" value="Female" />Female<br>
        <input type="radio" name="textfield10" id="textfield10" value="Others" />Others<br>


    </td>
  </tr>
  <tr>
    <td>E-mail</td>
    <td><input type="email" name="textfield3" id="textfield3" class="form-control" required/></td>
  </tr>
  <tr>
    <td>Phone</td>
    <td><input type="number" name="textfield4" id="textfield4" class="form-control" maxlength="10" required min="6000000000" max="9999999999"/></td>
  </tr>
  <tr>
    <td>Place</td>
    <td><input type="text" name="textfield2" id="textfield2" class="form-control" required/></td>
  </tr>
  <tr>
    <td>Post</td>
    <td><input type="text" name="textfield5" id="textfield5" class="form-control" required/></td>
  </tr>
  <tr>
    <td>District</td>
    <td><input type="text" name="textfield6" id="textfield6" class="form-control" required/></td>
  </tr>
  <tr>
    <td>Pincode</td>
    <td><input type="number" name="textfield7" id="textfield7" class="form-control" required min="100000" max="999999" maxlength="6"/></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="button" id="button" value="Add" class="btn btn-info"/></td>
  </tr>
</table>
</form>
</body>
{% endblock %}
