<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/admin_addauthority/">Add Authority</a><br>
<a href="/myapp/admin_viewauthority/">View Authority</a><br>

<a href="/myapp/admin_addstaff/">Add Staff</a><br>
<a href="/myapp/admin_viewstaff/">View Staff</a><br>

<a href="/myapp/admin_addstudent/">Add Student</a><br>
<a href="/myapp/admin_viewstudent/">View Student</a><br>

<a href="/myapp/admin_addexam/">Add Exam</a><br>
<a href="/myapp/admin_viewexam/">View Exam</a><br>

<a href="/myapp/admin_addschedule/">Add Schedule</a><br>
<a href="/myapp/admin_viewschedule/">View Schedule</a><br>

{#<a href="/myapp/admin_addstaffallocation/">Add Staff Allocation</a><br>#}
{#<a href="/myapp/admin_viewstaffallocation/">View Staff Allocation</a><br>#}

<a href="/myapp/admin_addstudentallocation/">Add Student Allocation</a><br>
<a href="/myapp/admin_viewstudentallocation/">View Student Allocation</a><br>
<a href="/myapp/admin_addhall/">Add Hall</a><br>
<a href="/myapp/admin_viewhall/">View Hall</a><br>

<a href="/myapp/admin_viewcomplaint/">View Complaint</a><br>
{#<a href="/myapp/admin_reply/">Reply</a><br>#}
{#<a href="/myapp/admin_addhallallocation/">Add Exam Hall Allocation</a><br>#}
<a href="/myapp/admin_viewhallallocation/">View Exam Hall Allocation</a><br>


</body>
</html>