{% extends 'Admin/home index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/myapp/admin_editstaff_post/">
{%csrf_token%}
<input type="hidden" name="id" value="{{ data.id }}">
    <table class="table table-bordered">
    <tr>
      <td>Name</td>
      <td><input type="text" name="textfield" id="textfield" value="{{ data.name }}" class="form-control" required pattern="[A-Za-z]+"/></td>
    </tr>
    <tr>
        <td>Department</td>
        <td><select name="textfield8" class="form-control" required>
            <option hidden>{{ data.department }}</option>
        <option value="CSE">CSE</option>
        <option value="EEE">EEE</option>
        <option value="CHE">CHE</option>
        <option value="MCT">MCT</option>
    </tr>
       <td>Photo</td>
      <td>
          <img src = "{{ data.photo }}" height="100px" width="100px">
          <input type="file" name="textfield9" id="textfield9" class="form-control"/></td>
    </tr>
      <td>Gender</td>
      <td><input type="radio" name="textfield10" id="textfield10" value="Male" {% if data.gender == "Male" %} checked {% endif %} />Male<br>
        <input type="radio" name="textfield10" id="textfield10" value="Female" {% if data.gender == "Female" %} checked {% endif %}/>Female<br>
        <input type="radio" name="textfield10" id="textfield10" value="Others" {% if data.gender == "Others" %} checked {% endif %}/>Others<br>
</td>
    </tr>
      <td>E-mail</td>
      <td><input type="email" name="textfield11" id="textfield11" value="{{ data.email }}" class="form-control" required/></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><input type="number" name="textfield3" id="textfield3" value="{{ data.phone }}" class="form-control" required min="6000000000" max="9999999999" maxlength="10"/></td>
    </tr>
    <tr>
      <td>Place</td>
      <td><input type="text" name="textfield2" id="textfield2" value = {{ data.place }} class="form-control" required/></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><input type="text" name="textfield5" id="textfield5" value="{{ data.post }}" class="form-control" required/></td>
    </tr>
    <tr>
      <td>District</td>
      <td><input type="text" name="textfield6" id="textfield6" value="{{ data.district }}" class="form-control" required/></td>
    </tr>
    <tr>
      <td>Pincode</td>
      <td><input type="number" name="textfield7" id="textfield7" value="{{ data.pincode }}" class="form-control" required min="100000" max="999999" maxlength="6"/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Update" class="btn btn-info"/></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
