{% extends 'Admin/home index.html' %}
{% block body %}

<body><form action="/myapp/admin_editschedule_post/" method="post">
    <table class="table table-bordered">
{%csrf_token%}
<input type="hidden" name="id" value="{{ data.id }}">
  <tr>
    <td>Date</td>
    <td><input type="text" name="textfield" id="textfield" value="{{ data.date }}" class="form-control" required/></td>
  </tr>
  <tr>
    <td>From time</td>
    <td><input type="text" name="textfield2" id="textfield2" value="{{ data.fromtime }}" class="form-control" required/></td>
  </tr>
  <tr>
    <td>To time</td>
    <td><input type="text" name="textfield3" id="textfield3" value="{{ data.totime }}" class="form-control" required/></td>
  </tr>
  <tr>
    <td>Exam</td>
    <td><select name="select" id="select" class="form-control" required>
        {% for i in data2 %}
        <option value="{{ i.id }}">{{ i.examname }}</option>
        {% endfor %}
    </select></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="button" id="button" value="Update" class="btn btn-info"/></td>
  </tr>
</table>
</form>
</body>
{% endblock %}
