{% extends 'Admin/home index.html' %}
{% block body %}

<body><form action="/myapp/admin_reply_post/" method="post">
    {% csrf_token %}
<table class="pull-left mb-3 mt-3" >
  <tr>
        <input type="hidden" name="id"value="{{ id }}">
    <th>Reply</th>
    <td><input type="text" name="textfield" id="textfield" class="form-control" required/></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="button" id="button" value="Send" class="btn btn-info"/></td>
  </tr>
</table>
</form>
</body>
{% endblock %}
