{% extends 'Admin/home index.html' %}
{% block body %}

<body><form action="/myapp/admin_viewstaffallocation_post/" method="post">
<table class="pull-left mb-3 mt-3" >
        {% csrf_token %}

  <tr>
    <td>From date</td>
    <td><input type="date" name="textfield" id="textfield"  class="form-control"/></td>
    <td>To date</td>
    <td><input type="date" name="textfield2" id="textfield2"  class="form-control"/></td>
    <td><input type="submit" name="button" id="button" value="Search"  class="btn btn-info"/></td>
  </tr>
</table>
    <table class="table table-bordered">
    <tr>
      <th>Serial No.</th>
      <th>Staff</th>
      <th>Date</th>
{#      <td>Hall Allocation</td>#}
      <th>Status</th>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.STAFF.name }}</td>
      <td>&nbsp;{{ i.date }}</td>
{#      <td>{{ i.HALLALLOCATION.HALL.roomno }}</td>#}
      <td>{{ i.status }}</td>
      <td><a href="/myapp/admin_editstaffallocation/{{ i.id }}" class="btn btn-success">Edit</a></td>
      <td><a href="/myapp/admin_deletestaffallocation/{{ i.id }}" class="btn btn-danger">Delete</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
